<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Datos vacunación covid-19</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_base.css') }}">
    </head>

    <body>

        <header>
            <section class="encabezado">
                <h1 class="titulo">Datos vacunación covid-19</h1>
                <h2>Reto 1</h2>
            </section>
        </header>

        <p></p>

        <section class="formulario">
            <a href="formulario">Realizar Consultaa</a>
            <p></p>
            <a href="base">Ver Tabla Completa</a>
        </section>

        <p></p>
          
        <main><center>
            {% block content %}
            {% endblock %}
        </center></main>

        <p></p>

        <footer><center>

            <h2>AUTORES</h2>
            <table border=1>
                <tr>
                    <td><br>Integrantes</br></td>
                    <td><br>Código estudiantil</br></td> 
                    <td><br>Correo electronico</br></td> 
                </tr>
                <tr>
                    <td>Andres David Becerra Dimate</td>
                    <td>20192020074</td>
                    <td>adbecerrad@correo.udistrital.edu.co</td>
                </tr>
                <tr>
                    <td>Juan Sebastian Romero Velez</td>           
                    <td>20192020067</td>
                    <td>jusromerov@correo.udistrital.edu.co</td>
                </tr>
                <tr>
                    <td>Sergio luis Rodriguez ortiz</td>
                    <td>20192020060</td> 
                    <td>slrodriguezo@correo.udistrital.edu.co</td>
                </tr>
            </table>
        </center></footer>

    </body>
</html>

