{% extends 'base.html' %}

{% block content %}
    <h2>En este formulario podra realizar algunos filtros en el dataFrame</h2>
    
    <form action="" method="post">
        <label for="opcion">
        <input type="radio" id="opcion" name="opcion" value="1" required/>
        Ver descripcion general <br>

        <input type="radio" id="opcion" name="opcion" value="2" />
        Ver los primeros datos
        <input type="number" id="numeroH" name="numeroH" min="1" max="20" value="1"/> <br>

        <input type="radio" id="opcion" name="opcion" value="3" />
        Ver los ultimos datos
        <input type="number" id="numeroT" name="numeroT" min="1" max="20" value="1"/> <br>
        </label><br>

        <input type="submit" id="send-signup" name="signup" value="Filtrar" />
    </form>

    {% if decision=='1' or decision=='2' or decision=='3' %}
        <h3> {{ title }} </h3>
        {% for table in tables %}
                {{ table|safe }}
        {% endfor %}
    {% endif %}

{% endblock %}

