section.encabezado{
    background: #49CCF3;
    color: black;
    font-size: 100%;
    text-align: center;
    font-family: monospace;
    border: 2px;
    padding-top: 1%;
    height: 100px;
    width: 100%
}

img {
    height: 100%
}

td{
    text-align: center;
    background: white;
}

table{
    font-size: 100%;
    font-family: monospace;
    align: center;
}

footer{
    background: #49CCF3;
    color: black;
    font-size: 100%;
    font-family: monospace;
    border: 2px;
    text-align: center;
    table-align: center;
    align: center;
    height: 200px;
    width: 100%;
    position: center;
    padding-top: 10px;
}

section.formulario{
    background: #4BECA5;
    color: black;
    font-size: 100%;
    font-family: monospace;           
    text-align: center;          
    height: 50px;      
    width: 100%;  
    position: center;
    padding-top: 10px;
}

input.boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: black;
    background-color: #4BECA5;
    border-radius: 0px;
    border: 2px solid #A5A5A5;
    width: 50%;
}

input.boton_personalizado:hover{
    color: #black;
    background-color: #49CCF3;
}
